@model FPTBOK.Models.Category

@{
    Layout = "~/Views/Shared/testLO.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0tn3aP01gZv5G5lLfeDR0j39l5Z9PLzIR2jb5lPmVFD3j2wFmfcMlMfhI1wD" crossorigin="anonymous">
    <style>
        .form-group {
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 class="my-4">Category</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Detail" class="control-label">Detail</label>
                    <input asp-for="Detail" class="form-control" />
                    <span asp-validation-for="Detail" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Status" class="control-label">Status</label>
                    <select asp-for="Status" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="submit" asp-action="Index" class="btn btn-warning">Back to List</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
