@model IEnumerable<FPTBOK.Models.OrderDetail>

@{
    Layout = "~/Views/Shared/homepage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Details</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
</head>
<body>
    <div class="container mt-4 border p-4">
        <h1>Order Details</h1>

        <table class="table" id="dataTable">
            <thead>
                <tr>
                    <th>
                        Price
                    </th>
                    <th>
                        Product ID
                    </th>
                    <th>
                        Order ID
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdProOrderNavigation.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdOrderNavigation.Id)
                        </td>
                        <td>
                            <!-- Add any additional buttons or links here -->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
