@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/homepage.cshtml";
}

<h1 style="text-align: center;"> HELP</h1>
<h5 style="text-align: center;"> PLease contact Email: Kdagcc210070@fpt.edu.vn</h5>