@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>you must login to use the previous feature please Login before you continue.</p>
<form formaction="GET">
    <button class="nav-link" asp-area="Identity" asp-page="/Account/Login">Log in</button>
</form>
