@{
    ViewData["Title"] = "FPT BOOK";
    Layout = "~/Views/Shared/homepage.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
</head>

<body>

    <header>
        <h1>@ViewData["Title"]</h1>
    </header>

    <main>
        <p>You must log in to use the previous feature. Please log in before you continue.</p>
        <form action="/Identity/Account/Login" method="get">
            <button type="submit" class="btn btn-success">Log in</button>
        </form>
    </main>

</body>
</html>
