@model FPTBOK.Models.Order

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container mt-4">

<h1>Create Order</h1>
<hr />

<div class="border p-4">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <h2>Are you sure to purchase</h2>
                    @* <label asp-for="UserId" class="control-label"></label> *@
                    <input type="hidden"asp-for="UserId" class="form-control"value ="0" />
                    @* <span asp-validation-for="UserId" class="text-danger"></span> *@
                </div>
                <div class="form-group">
                    @* <label asp-for="TimeOrder" class="control-label"></label> *@
                    <input type="hidden" asp-for="TimeOrder" class="form-control"  value ="12/12/2012"/>
                    @* <span asp-validation-for="TimeOrder" class="text-danger"></span> *@
                </div>
                <div class="form-group">
                    @* <label asp-for="Address" class="control-label"></label> *@
                    <input type="hidden" asp-for="Address" class="form-control " value ="store 32/ NinhKieu/ Cantho"/>
                    @* <span asp-validation-for="Address" class="text-danger"></span> *@
                </div>
                <div class="form-group">
                    @* <label asp-for="Status" class="control-label"></label> *@
                    <input type="hidden" asp-for="Status" class="form-control "value ="0" />
                    @* <span asp-validation-for="Status" class="text-danger"></span> *@
                </div>
                <button type="submit" class="btn btn-primary">Accept Purchase</button>
            </form>
        </div>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>


</body>
</html>
